.task{
    margin-top: 33px;
}
.task__item{
    width: 345px;
    height: 72px;
    background-color: #242320;
    border: 2px solid #A35709;
    margin-top: 16px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 16px 10px;
}

.task__button{
    width: 32px;
    height: 32px;
    border: #A35709 2px solid;
    background-color: #1B1A17;
    cursor: pointer;
}

.task__button span{
    display: inline-block;
    width: 1.37px;
    height: 11px;
    background-color: #FF8303;
    position: relative;
}

.task__button span:nth-child(1){
    transform: rotate(-46deg);
    left: 1px;
}

.task__button span:nth-child(2){
    transform: rotate(46deg);
}
